#backToTopBtn {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(0, 123, 255);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 30px;
}

#backToTopBtn:hover {
    background-color: rgb(0, 86, 179);
}

#content {
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.dog-picture {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    width: 90%;
}

.dog-picture img {
    width: 100%;
    display: block;
    transition: filter 0.3s ease;
}

.dog-picture h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    background: rgba(0, 123, 255, 0.9);
    padding: 8px 12px;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 10;
    text-align: center;
    margin: 0;
}

.dog-picture:hover img,
.dog-picture:active img,
.dog-picture:focus img {
    filter: brightness(1.2) opacity(0.7);
}

.dog-picture:hover h2,
.dog-picture:active h2,
.dog-picture:focus h2 {
    opacity: 1;
}

@media (min-width: 781px) {
    #content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dog-picture {
        width: 30%;
    }
}

main {
    background-color: rgb(211, 211, 211);
}

p {
    font-size: 20px;
    max-width: 70%;
}

nav {
    font-size: 22px;
}
